.box {
    margin: 20px;
    border: 15px solid blue;
    background-color: purple;
}

.inner-box {
    padding: 50px;
    background-color: lightblue;
}

.content {
    width: 300px;
    border: 1px solid black;
}