
/* Your CSS Code here. */
.main{
	width:auto;
	height:auto;
	border:1px solid black;
}
.main2{
	width:auto;
	height:auto;
	border:15px solid blue;
	margin:20px;
	align-items:center;
}
.main3{
	width:auto;
	height:auto;
	border:10px solid black;
	padding:50px;
	background-color:lightblue;
}
.main4{
	width:300px;
	/* height:300px; */
	border:1px solid black;
	align-items:center;
}